In [3]:
import pandas as pd
import glob

In [ ]:
# path = r'C:/Users/rvern/Documents/GitHub/tableau' # use your path
# all_files = glob.glob(path + "/*.csv")

# li = []

# for filename in all_files:
#     df = pd.read_csv(filename, index_col=None, header=0)
#     li.append(df)

# frame = pd.concat(li, axis=0, ignore_index=True)

In [2]:
# frame

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,...,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,1553.0,2019-12-01 00:07:13.9360,2019-12-01 00:33:07.6820,3681.0,Grand St,40.715178,-74.037683,3198.0,Heights Elevator,40.748716,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,416.0,2019-12-01 00:16:40.4700,2019-12-01 00:23:36.5700,3195.0,Sip Ave,40.730897,-74.063913,3679.0,Bergen Ave,40.722104,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,294.0,2019-12-01 00:20:29.7980,2019-12-01 00:25:23.9690,3195.0,Sip Ave,40.730897,-74.063913,3678.0,Fairmount Ave,40.725726,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,97.0,2019-12-01 00:21:13.7580,2019-12-01 00:22:51.5970,3202.0,Newport PATH,40.727224,-74.033759,3638.0,Washington St,40.724294,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,286.0,2019-12-01 00:29:58.0230,2019-12-01 00:34:44.2280,3195.0,Sip Ave,40.730897,-74.063913,3679.0,Bergen Ave,40.722104,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
892799,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2021-10-22 21:56:13,Clinton St & 7 St,HB303,City Hall - Washington St & 1 St,HB105,40.74542,-74.03332,40.73736,-74.03097,casual
892800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2021-10-16 14:35:43,Clinton St & 7 St,HB303,City Hall - Washington St & 1 St,HB105,40.74542,-74.03332,40.73736,-74.03097,casual
892801,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2021-10-17 02:18:26,Clinton St & 7 St,HB303,Grand St & 14 St,HB506,40.74542,-74.03332,40.75409,-74.03160,casual
892802,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2021-10-07 20:44:49,Clinton St & 7 St,HB303,Grand St & 14 St,HB506,40.74542,-74.03332,40.75409,-74.03160,casual
892803,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2021-10-23 23:55:02,Clinton St & 7 St,HB303,Grand St & 14 St,HB506,40.74542,-74.03332,40.75409,-74.03160,casual

In [3]:
# # Export file as a CSV, without the Pandas index, but with the header
# frame.to_csv("fileOne.csv", index=False, header=True)

In [178]:
file1 = "C:/Users/rvern/Documents/GitHub/tableau/citibike-tripdata_oldformat.csv"
df1 = pd.read_csv(file1)
df1

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Unnamed: 15
0,1553,12/1/19 0:07,12/1/19 0:33,3681,Grand St,40.715178,-74.037683,3198,Heights Elevator,40.748716,-74.040443,29462,Subscriber,1980,1,NaN
1,416,12/1/19 0:16,12/1/19 0:23,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,29610,Subscriber,1956,1,NaN
2,294,12/1/19 0:20,12/1/19 0:25,3195,Sip Ave,40.730897,-74.063913,3678,Fairmount Ave,40.725726,-74.071959,26166,Subscriber,1977,1,NaN
3,97,12/1/19 0:21,12/1/19 0:22,3202,Newport PATH,40.727224,-74.033759,3638,Washington St,40.724294,-74.035483,29492,Subscriber,1993,1,NaN
4,286,12/1/19 0:29,12/1/19 0:34,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,29440,Customer,1990,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
354698,2476,1/31/21 20:16,1/31/21 20:57,3187,Warren St,40.721124,-74.038051,3483,Montgomery St,40.719420,-74.050990,44852,Subscriber,1958,1,NaN
354699,147,1/31/21 21:05,1/31/21 21:07,3186,Grove St PATH,40.719586,-74.043117,3187,Warren St,40.721124,-74.038051,46538,Subscriber,1972,1,NaN
354700,660,1/31/21 21:06,1/31/21 21:17,3211,Newark Ave,40.721525,-74.046305,3276,Marin Light Rail,40.714584,-74.042817,44398,Subscriber,1987,2,NaN
354701,384,1/31/21 21:16,1/31/21 21:23,3205,JC Medical Center,40.716540,-74.049638,3268,Lafayette Park,40.713464,-74.062859,41400,Subscriber,1989,1,NaN
354702,356,1/31/21 23:24,1/31/21 23:30,3639,Harborside,40.719252,-74.034234,3186,Grove St PATH,40.719586,-74.043117,43766,Subscriber,1994,1,NaN

In [179]:
df1.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender', 'Unnamed: 15'],
      dtype='object')

In [180]:
df1 = df1.drop(columns=['birth year', 'gender','bikeid','Unnamed: 15'])
df1

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,usertype
0,1553,12/1/19 0:07,12/1/19 0:33,3681,Grand St,40.715178,-74.037683,3198,Heights Elevator,40.748716,-74.040443,Subscriber
1,416,12/1/19 0:16,12/1/19 0:23,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,Subscriber
2,294,12/1/19 0:20,12/1/19 0:25,3195,Sip Ave,40.730897,-74.063913,3678,Fairmount Ave,40.725726,-74.071959,Subscriber
3,97,12/1/19 0:21,12/1/19 0:22,3202,Newport PATH,40.727224,-74.033759,3638,Washington St,40.724294,-74.035483,Subscriber
4,286,12/1/19 0:29,12/1/19 0:34,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,Customer
...,...,...,...,...,...,...,...,...,...,...,...,...
354698,2476,1/31/21 20:16,1/31/21 20:57,3187,Warren St,40.721124,-74.038051,3483,Montgomery St,40.719420,-74.050990,Subscriber
354699,147,1/31/21 21:05,1/31/21 21:07,3186,Grove St PATH,40.719586,-74.043117,3187,Warren St,40.721124,-74.038051,Subscriber
354700,660,1/31/21 21:06,1/31/21 21:17,3211,Newark Ave,40.721525,-74.046305,3276,Marin Light Rail,40.714584,-74.042817,Subscriber
354701,384,1/31/21 21:16,1/31/21 21:23,3205,JC Medical Center,40.716540,-74.049638,3268,Lafayette Park,40.713464,-74.062859,Subscriber
354702,356,1/31/21 23:24,1/31/21 23:30,3639,Harborside,40.719252,-74.034234,3186,Grove St PATH,40.719586,-74.043117,Subscriber

In [181]:
df1.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'usertype'],
      dtype='object')

In [182]:
df1['starttime'] = pd.to_datetime(df1['starttime'])
df1['stoptime'] = pd.to_datetime(df1['stoptime'])
df1

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,usertype
0,1553,2019-12-01 00:07:00,2019-12-01 00:33:00,3681,Grand St,40.715178,-74.037683,3198,Heights Elevator,40.748716,-74.040443,Subscriber
1,416,2019-12-01 00:16:00,2019-12-01 00:23:00,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,Subscriber
2,294,2019-12-01 00:20:00,2019-12-01 00:25:00,3195,Sip Ave,40.730897,-74.063913,3678,Fairmount Ave,40.725726,-74.071959,Subscriber
3,97,2019-12-01 00:21:00,2019-12-01 00:22:00,3202,Newport PATH,40.727224,-74.033759,3638,Washington St,40.724294,-74.035483,Subscriber
4,286,2019-12-01 00:29:00,2019-12-01 00:34:00,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,Customer
...,...,...,...,...,...,...,...,...,...,...,...,...
354698,2476,2021-01-31 20:16:00,2021-01-31 20:57:00,3187,Warren St,40.721124,-74.038051,3483,Montgomery St,40.719420,-74.050990,Subscriber
354699,147,2021-01-31 21:05:00,2021-01-31 21:07:00,3186,Grove St PATH,40.719586,-74.043117,3187,Warren St,40.721124,-74.038051,Subscriber
354700,660,2021-01-31 21:06:00,2021-01-31 21:17:00,3211,Newark Ave,40.721525,-74.046305,3276,Marin Light Rail,40.714584,-74.042817,Subscriber
354701,384,2021-01-31 21:16:00,2021-01-31 21:23:00,3205,JC Medical Center,40.716540,-74.049638,3268,Lafayette Park,40.713464,-74.062859,Subscriber
354702,356,2021-01-31 23:24:00,2021-01-31 23:30:00,3639,Harborside,40.719252,-74.034234,3186,Grove St PATH,40.719586,-74.043117,Subscriber

In [184]:
df1

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,usertype
0,1553,2019-12-01 00:07:00,2019-12-01 00:33:00,3681,Grand St,40.715178,-74.037683,3198,Heights Elevator,40.748716,-74.040443,Subscriber
1,416,2019-12-01 00:16:00,2019-12-01 00:23:00,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,Subscriber
2,294,2019-12-01 00:20:00,2019-12-01 00:25:00,3195,Sip Ave,40.730897,-74.063913,3678,Fairmount Ave,40.725726,-74.071959,Subscriber
3,97,2019-12-01 00:21:00,2019-12-01 00:22:00,3202,Newport PATH,40.727224,-74.033759,3638,Washington St,40.724294,-74.035483,Subscriber
4,286,2019-12-01 00:29:00,2019-12-01 00:34:00,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,Customer
...,...,...,...,...,...,...,...,...,...,...,...,...
354698,2476,2021-01-31 20:16:00,2021-01-31 20:57:00,3187,Warren St,40.721124,-74.038051,3483,Montgomery St,40.719420,-74.050990,Subscriber
354699,147,2021-01-31 21:05:00,2021-01-31 21:07:00,3186,Grove St PATH,40.719586,-74.043117,3187,Warren St,40.721124,-74.038051,Subscriber
354700,660,2021-01-31 21:06:00,2021-01-31 21:17:00,3211,Newark Ave,40.721525,-74.046305,3276,Marin Light Rail,40.714584,-74.042817,Subscriber
354701,384,2021-01-31 21:16:00,2021-01-31 21:23:00,3205,JC Medical Center,40.716540,-74.049638,3268,Lafayette Park,40.713464,-74.062859,Subscriber
354702,356,2021-01-31 23:24:00,2021-01-31 23:30:00,3639,Harborside,40.719252,-74.034234,3186,Grove St PATH,40.719586,-74.043117,Subscriber

In [119]:
## second dataframe

In [185]:
file2 = "C:/Users/rvern/Documents/GitHub/tableau/citibike-tripdata_newformat.csv"
df2 = pd.read_csv(file2)
df2

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,62F2D98DDA10BFFF,docked_bike,2/1/21 0:42,2/1/21 0:52,City Hall,JC003,Brunswick & 6th,JC081,40.717733,-74.043845,40.726012,-74.050389,member
1,FA2789B14DB04DED,docked_bike,2/1/21 6:29,2/1/21 6:37,Bergen Ave,JC095,Sip Ave,JC056,40.722104,-74.071455,40.730897,-74.063913,member
2,1194EA4A3DE71713,docked_bike,2/3/21 12:27,2/3/21 12:59,Newark Ave,JC032,Morris Canal,JC072,40.721525,-74.046305,40.712419,-74.038526,member
3,E424C4CFD509FB95,docked_bike,2/3/21 12:42,2/3/21 12:57,Morris Canal,JC072,Newport Pkwy,JC008,40.712419,-74.038526,40.728745,-74.032108,member
4,341691DED03AD770,docked_bike,2/3/21 13:26,2/3/21 13:31,Marin Light Rail,JC013,JC Medical Center,JC011,40.714584,-74.042817,40.716540,-74.049638,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
524645,ED27762E6E429228,classic_bike,10/31/2021 23:47,11/1/2021 0:49,Riverview Park,JC057,Lincoln Park,JC053,40.744319,-74.043991,40.724605,-74.078406,casual
524646,241879350D5776CB,classic_bike,10/31/2021 23:54,10/31/2021 23:59,City Hall - Washington St & 1 St,HB105,6 St & Grand St,HB302,40.737360,-74.030970,40.744398,-74.034501,casual
524647,38F550DF924E5E0A,classic_bike,10/31/2021 23:59,11/1/2021 0:28,Grand St,JC102,Grand St,JC102,40.715178,-74.037683,40.715178,-74.037683,casual
524648,DE182CF27D0CCFBD,classic_bike,10/31/2021 23:59,11/1/2021 0:11,Bergen Ave,JC095,Newport PATH,JC066,40.722104,-74.071455,40.727224,-74.033759,casual
524649,F64A02EE36E86846,classic_bike,10/31/2021 23:59,11/1/2021 0:29,Grand St,JC102,Grand St,JC102,40.715178,-74.037683,40.715178,-74.037683,casual

In [186]:
df2['started_at'] = pd.to_datetime(df2['started_at'])
df2['ended_at'] = pd.to_datetime(df2['ended_at'])
df2.dtypes

ride_id                       object
rideable_type                 object
started_at            datetime64[ns]
ended_at              datetime64[ns]
start_station_name            object
start_station_id              object
end_station_name              object
end_station_id                object
start_lat                    float64
start_lng                    float64
end_lat                      float64
end_lng                      float64
member_casual                 object
dtype: object

In [187]:
df2["tripduration"] = (df2['ended_at']-df2['started_at']).astype('timedelta64[s]')

In [188]:
df2.columns

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual', 'tripduration'],
      dtype='object')

In [189]:
df2 = df2.drop(columns=['ride_id', 'rideable_type'])
df2

,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,tripduration
0,2021-02-01 00:42:00,2021-02-01 00:52:00,City Hall,JC003,Brunswick & 6th,JC081,40.717733,-74.043845,40.726012,-74.050389,member,600.0
1,2021-02-01 06:29:00,2021-02-01 06:37:00,Bergen Ave,JC095,Sip Ave,JC056,40.722104,-74.071455,40.730897,-74.063913,member,480.0
2,2021-02-03 12:27:00,2021-02-03 12:59:00,Newark Ave,JC032,Morris Canal,JC072,40.721525,-74.046305,40.712419,-74.038526,member,1920.0
3,2021-02-03 12:42:00,2021-02-03 12:57:00,Morris Canal,JC072,Newport Pkwy,JC008,40.712419,-74.038526,40.728745,-74.032108,member,900.0
4,2021-02-03 13:26:00,2021-02-03 13:31:00,Marin Light Rail,JC013,JC Medical Center,JC011,40.714584,-74.042817,40.716540,-74.049638,member,300.0
...,...,...,...,...,...,...,...,...,...,...,...,...
524645,2021-10-31 23:47:00,2021-11-01 00:49:00,Riverview Park,JC057,Lincoln Park,JC053,40.744319,-74.043991,40.724605,-74.078406,casual,3720.0
524646,2021-10-31 23:54:00,2021-10-31 23:59:00,City Hall - Washington St & 1 St,HB105,6 St & Grand St,HB302,40.737360,-74.030970,40.744398,-74.034501,casual,300.0
524647,2021-10-31 23:59:00,2021-11-01 00:28:00,Grand St,JC102,Grand St,JC102,40.715178,-74.037683,40.715178,-74.037683,casual,1740.0
524648,2021-10-31 23:59:00,2021-11-01 00:11:00,Bergen Ave,JC095,Newport PATH,JC066,40.722104,-74.071455,40.727224,-74.033759,casual,720.0
524649,2021-10-31 23:59:00,2021-11-01 00:29:00,Grand St,JC102,Grand St,JC102,40.715178,-74.037683,40.715178,-74.037683,casual,1800.0

In [190]:
df2.columns

Index(['started_at', 'ended_at', 'start_station_name', 'start_station_id',
       'end_station_name', 'end_station_id', 'start_lat', 'start_lng',
       'end_lat', 'end_lng', 'member_casual', 'tripduration'],
      dtype='object')

In [191]:
df2 = df2.rename(columns={'started_at':'starttime', 'ended_at': 'stoptime', 'start_station_name':'start station name', 'start_station_id':'start station id','end_station_name':'end station name', 'end_station_id':'end station id', 'start_lat':'start station latitude', 'start_lng':'start station longitude','end_lat':'end station latitude', 'end_lng':'end station longitude', 'member_casual':'usertype'}, errors="raise")

In [192]:
df2

,starttime,stoptime,start station name,start station id,end station name,end station id,start station latitude,start station longitude,end station latitude,end station longitude,usertype,tripduration
0,2021-02-01 00:42:00,2021-02-01 00:52:00,City Hall,JC003,Brunswick & 6th,JC081,40.717733,-74.043845,40.726012,-74.050389,member,600.0
1,2021-02-01 06:29:00,2021-02-01 06:37:00,Bergen Ave,JC095,Sip Ave,JC056,40.722104,-74.071455,40.730897,-74.063913,member,480.0
2,2021-02-03 12:27:00,2021-02-03 12:59:00,Newark Ave,JC032,Morris Canal,JC072,40.721525,-74.046305,40.712419,-74.038526,member,1920.0
3,2021-02-03 12:42:00,2021-02-03 12:57:00,Morris Canal,JC072,Newport Pkwy,JC008,40.712419,-74.038526,40.728745,-74.032108,member,900.0
4,2021-02-03 13:26:00,2021-02-03 13:31:00,Marin Light Rail,JC013,JC Medical Center,JC011,40.714584,-74.042817,40.716540,-74.049638,member,300.0
...,...,...,...,...,...,...,...,...,...,...,...,...
524645,2021-10-31 23:47:00,2021-11-01 00:49:00,Riverview Park,JC057,Lincoln Park,JC053,40.744319,-74.043991,40.724605,-74.078406,casual,3720.0
524646,2021-10-31 23:54:00,2021-10-31 23:59:00,City Hall - Washington St & 1 St,HB105,6 St & Grand St,HB302,40.737360,-74.030970,40.744398,-74.034501,casual,300.0
524647,2021-10-31 23:59:00,2021-11-01 00:28:00,Grand St,JC102,Grand St,JC102,40.715178,-74.037683,40.715178,-74.037683,casual,1740.0
524648,2021-10-31 23:59:00,2021-11-01 00:11:00,Bergen Ave,JC095,Newport PATH,JC066,40.722104,-74.071455,40.727224,-74.033759,casual,720.0
524649,2021-10-31 23:59:00,2021-11-01 00:29:00,Grand St,JC102,Grand St,JC102,40.715178,-74.037683,40.715178,-74.037683,casual,1800.0

In [200]:
file3 = "C:/Users/rvern/Documents/GitHub/tableau/us_counties_covid.csv"
df3 = pd.read_csv(file3)

df3a = df3[df3["county"]=="New York City"]
df3a

             date         county     state  fips   cases   deaths
416      3/1/2020  New York City  New York   NaN       1      0.0
448      3/2/2020  New York City  New York   NaN       1      0.0
482      3/3/2020  New York City  New York   NaN       2      0.0
518      3/4/2020  New York City  New York   NaN       2      0.0
565      3/5/2020  New York City  New York   NaN       4      0.0
...           ...            ...       ...   ...     ...      ...
786081  12/1/2020  New York City  New York   NaN  319301  24287.0
789327  12/2/2020  New York City  New York   NaN  322501  24297.0
792573  12/3/2020  New York City  New York   NaN  325806  24305.0
795818  12/4/2020  New York City  New York   NaN  329406  24323.0
799064  12/5/2020  New York City  New York   NaN  332633  24346.0

[280 rows x 6 columns]

In [201]:
df3a['cases_daily'] = df['cases'].diff()
df3a['deaths_daily'] = df['deaths'].diff()
df3a

<ipython-input-201-4e98abbdd0e2>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3a['cases_daily'] = df['cases'].diff()
<ipython-input-201-4e98abbdd0e2>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3a['deaths_daily'] = df['deaths'].diff()

,date,county,state,fips,cases,deaths,cases_daily,deaths_daily
416,3/1/2020,New York City,New York,NaN,1,0.0,-12.0,0.0
448,3/2/2020,New York City,New York,NaN,1,0.0,0.0,0.0
482,3/3/2020,New York City,New York,NaN,2,0.0,0.0,0.0
518,3/4/2020,New York City,New York,NaN,2,0.0,1.0,0.0
565,3/5/2020,New York City,New York,NaN,4,0.0,3.0,0.0
...,...,...,...,...,...,...,...,...
786081,12/1/2020,New York City,New York,NaN,319301,24287.0,258139.0,22027.0
789327,12/2/2020,New York City,New York,NaN,322501,24297.0,260513.0,22035.0
792573,12/3/2020,New York City,New York,NaN,325806,24305.0,263061.0,22041.0
795818,12/4/2020,New York City,New York,NaN,329406,24323.0,265745.0,22057.0
799064,12/5/2020,New York City,New York,NaN,332633,24346.0,268274.0,22077.0

In [193]:
df1.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,usertype
0,1553,2019-12-01 00:07:00,2019-12-01 00:33:00,3681,Grand St,40.715178,-74.037683,3198,Heights Elevator,40.748716,-74.040443,Subscriber
1,416,2019-12-01 00:16:00,2019-12-01 00:23:00,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,Subscriber
2,294,2019-12-01 00:20:00,2019-12-01 00:25:00,3195,Sip Ave,40.730897,-74.063913,3678,Fairmount Ave,40.725726,-74.071959,Subscriber
3,97,2019-12-01 00:21:00,2019-12-01 00:22:00,3202,Newport PATH,40.727224,-74.033759,3638,Washington St,40.724294,-74.035483,Subscriber
4,286,2019-12-01 00:29:00,2019-12-01 00:34:00,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,Customer

df2.columns

In [166]:
df2.columns

Index(['starttime', 'stoptime', 'start station name', 'start station id',
       'end station name', 'end station id', 'start station latitude',
       'start station longitude', 'end station latitude',
       'end station longitude', 'usertype', 'tripduration'],
      dtype='object')

df2["usertype"] = df2["usertype"].replace("member","Subscriber", inplace=True)

In [194]:
df2["usertype"].value_counts()

member    270580
casual    254070
Name: usertype, dtype: int64

In [195]:
frames = [df1,df2]
df4 = pd.concat(frames)
df4

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,usertype
0,1553.0,2019-12-01 00:07:00,2019-12-01 00:33:00,3681,Grand St,40.715178,-74.037683,3198,Heights Elevator,40.748716,-74.040443,Subscriber
1,416.0,2019-12-01 00:16:00,2019-12-01 00:23:00,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,Subscriber
2,294.0,2019-12-01 00:20:00,2019-12-01 00:25:00,3195,Sip Ave,40.730897,-74.063913,3678,Fairmount Ave,40.725726,-74.071959,Subscriber
3,97.0,2019-12-01 00:21:00,2019-12-01 00:22:00,3202,Newport PATH,40.727224,-74.033759,3638,Washington St,40.724294,-74.035483,Subscriber
4,286.0,2019-12-01 00:29:00,2019-12-01 00:34:00,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,Customer
...,...,...,...,...,...,...,...,...,...,...,...,...
524645,3720.0,2021-10-31 23:47:00,2021-11-01 00:49:00,JC057,Riverview Park,40.744319,-74.043991,JC053,Lincoln Park,40.724605,-74.078406,casual
524646,300.0,2021-10-31 23:54:00,2021-10-31 23:59:00,HB105,City Hall - Washington St & 1 St,40.737360,-74.030970,HB302,6 St & Grand St,40.744398,-74.034501,casual
524647,1740.0,2021-10-31 23:59:00,2021-11-01 00:28:00,JC102,Grand St,40.715178,-74.037683,JC102,Grand St,40.715178,-74.037683,casual
524648,720.0,2021-10-31 23:59:00,2021-11-01 00:11:00,JC095,Bergen Ave,40.722104,-74.071455,JC066,Newport PATH,40.727224,-74.033759,casual
524649,1800.0,2021-10-31 23:59:00,2021-11-01 00:29:00,JC102,Grand St,40.715178,-74.037683,JC102,Grand St,40.715178,-74.037683,casual

In [196]:
df4["usertype"] = df4["usertype"].str.replace("member","Subscriber")

In [197]:
df4["usertype"] = df4["usertype"].str.replace("casual","Customer")

In [198]:
df4

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,usertype
0,1553.0,2019-12-01 00:07:00,2019-12-01 00:33:00,3681,Grand St,40.715178,-74.037683,3198,Heights Elevator,40.748716,-74.040443,Subscriber
1,416.0,2019-12-01 00:16:00,2019-12-01 00:23:00,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,Subscriber
2,294.0,2019-12-01 00:20:00,2019-12-01 00:25:00,3195,Sip Ave,40.730897,-74.063913,3678,Fairmount Ave,40.725726,-74.071959,Subscriber
3,97.0,2019-12-01 00:21:00,2019-12-01 00:22:00,3202,Newport PATH,40.727224,-74.033759,3638,Washington St,40.724294,-74.035483,Subscriber
4,286.0,2019-12-01 00:29:00,2019-12-01 00:34:00,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,Customer
...,...,...,...,...,...,...,...,...,...,...,...,...
524645,3720.0,2021-10-31 23:47:00,2021-11-01 00:49:00,JC057,Riverview Park,40.744319,-74.043991,JC053,Lincoln Park,40.724605,-74.078406,Customer
524646,300.0,2021-10-31 23:54:00,2021-10-31 23:59:00,HB105,City Hall - Washington St & 1 St,40.737360,-74.030970,HB302,6 St & Grand St,40.744398,-74.034501,Customer
524647,1740.0,2021-10-31 23:59:00,2021-11-01 00:28:00,JC102,Grand St,40.715178,-74.037683,JC102,Grand St,40.715178,-74.037683,Customer
524648,720.0,2021-10-31 23:59:00,2021-11-01 00:11:00,JC095,Bergen Ave,40.722104,-74.071455,JC066,Newport PATH,40.727224,-74.033759,Customer
524649,1800.0,2021-10-31 23:59:00,2021-11-01 00:29:00,JC102,Grand St,40.715178,-74.037683,JC102,Grand St,40.715178,-74.037683,Customer

In [202]:
df4.to_csv("C:/Users/rvern/Documents/GitHub/tableau/stationdata_clean.csv",index=False, header=True)
df3a.to_csv("C:/Users/rvern/Documents/GitHub/tableau/covid_newyork.csv",index=False, header=True)

In [173]:
df4

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,usertype
0,1553.0,2019-12-01 00:07:00,2019-12-01 00:33:00,3681,Grand St,40.715178,-74.037683,3198,Heights Elevator,40.748716,-74.040443,Subscriber
1,416.0,2019-12-01 00:16:00,2019-12-01 00:23:00,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,Subscriber
2,294.0,2019-12-01 00:20:00,2019-12-01 00:25:00,3195,Sip Ave,40.730897,-74.063913,3678,Fairmount Ave,40.725726,-74.071959,Subscriber
3,97.0,2019-12-01 00:21:00,2019-12-01 00:22:00,3202,Newport PATH,40.727224,-74.033759,3638,Washington St,40.724294,-74.035483,Subscriber
4,286.0,2019-12-01 00:29:00,2019-12-01 00:34:00,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,Customer
...,...,...,...,...,...,...,...,...,...,...,...,...
21999,180.0,2021-03-31 22:53:00,2021-03-31 22:56:00,JC005,Grove St PATH,40.719586,-74.043117,NaN,NaN,NaN,NaN,Subscriber
22000,300.0,2021-03-31 23:09:00,2021-03-31 23:14:00,JC005,Grove St PATH,40.719586,-74.043117,JC011,JC Medical Center,40.716540,-74.049638,Customer
22001,300.0,2021-03-31 23:21:00,2021-03-31 23:26:00,JC093,Fairmount Ave,40.725726,-74.071959,JC056,Sip Ave,40.730897,-74.063913,Subscriber
22002,180.0,2021-03-31 23:21:00,2021-03-31 23:24:00,JC106,Columbus Dr at Exchange Pl,40.716870,-74.032810,JC104,Harborside,40.719252,-74.034234,Subscriber
22003,1140.0,2021-03-31 23:41:00,2021-04-01 00:00:00,JC011,JC Medical Center,40.716539,-74.049637,JC011,JC Medical Center,40.716540,-74.049638,Customer

In [203]:
df4["startdate"] = pd.to_datetime(df4.starttime, format = '%Y-%m-%d')
df4["startdate"] = df4["startdate"].dt.strftime('%m/%d/%Y')
df4

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,usertype,startdate
0,1553.0,2019-12-01 00:07:00,2019-12-01 00:33:00,3681,Grand St,40.715178,-74.037683,3198,Heights Elevator,40.748716,-74.040443,Subscriber,12/01/2019
1,416.0,2019-12-01 00:16:00,2019-12-01 00:23:00,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,Subscriber,12/01/2019
2,294.0,2019-12-01 00:20:00,2019-12-01 00:25:00,3195,Sip Ave,40.730897,-74.063913,3678,Fairmount Ave,40.725726,-74.071959,Subscriber,12/01/2019
3,97.0,2019-12-01 00:21:00,2019-12-01 00:22:00,3202,Newport PATH,40.727224,-74.033759,3638,Washington St,40.724294,-74.035483,Subscriber,12/01/2019
4,286.0,2019-12-01 00:29:00,2019-12-01 00:34:00,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,Customer,12/01/2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...
524645,3720.0,2021-10-31 23:47:00,2021-11-01 00:49:00,JC057,Riverview Park,40.744319,-74.043991,JC053,Lincoln Park,40.724605,-74.078406,Customer,10/31/2021
524646,300.0,2021-10-31 23:54:00,2021-10-31 23:59:00,HB105,City Hall - Washington St & 1 St,40.737360,-74.030970,HB302,6 St & Grand St,40.744398,-74.034501,Customer,10/31/2021
524647,1740.0,2021-10-31 23:59:00,2021-11-01 00:28:00,JC102,Grand St,40.715178,-74.037683,JC102,Grand St,40.715178,-74.037683,Customer,10/31/2021
524648,720.0,2021-10-31 23:59:00,2021-11-01 00:11:00,JC095,Bergen Ave,40.722104,-74.071455,JC066,Newport PATH,40.727224,-74.033759,Customer,10/31/2021
524649,1800.0,2021-10-31 23:59:00,2021-11-01 00:29:00,JC102,Grand St,40.715178,-74.037683,JC102,Grand St,40.715178,-74.037683,Customer,10/31/2021

In [204]:
d5 = df4.groupby(["startdate"])
d5.count().head

<bound method NDFrame.head of             tripduration  starttime  stoptime  start station id  \
startdate
01/01/2020           370        370       370               370
01/01/2021           206        206       206               206
01/02/2020           892        892       892               892
01/02/2021           504        504       504               504
01/03/2020           772        772       772               772
...                  ...        ...       ...               ...
12/29/2020           391        391       391               391
12/30/2019           327        327       327               327
12/30/2020           326        326       326               326
12/31/2019           716        716       716               716
12/31/2020           292        292       292               292

            start station name  start station latitude  \
startdate
01/01/2020                 370                     370
01/01/2021                 206                     206
01/02/2020                 892                     892
01/02/2021                 504                     504
01/03/2020                 772                     772
...                        ...                     ...
12/29/2020                 391                     391
12/30/2019                 327                     327
12/30/2020                 326                     326
12/31/2019                 716                     716
12/31/2020                 292                     292

            start station longitude  end station id  end station name  \
startdate
01/01/2020                      370             370               370
01/01/2021                      206             206               206
01/02/2020                      892             892               892
01/02/2021                      504             504               504
01/03/2020                      772             772               772
...                             ...             ...               ...
12/29/2020                      391             391               391
12/30/2019                      327             327               327
12/30/2020                      326             326               326
12/31/2019                      716             716               716
12/31/2020                      292             292               292

            end station latitude  end station longitude  usertype
startdate
01/01/2020                   370                    370       370
01/01/2021                   206                    206       206
01/02/2020                   892                    892       892
01/02/2021                   504                    504       504
01/03/2020                   772                    772       772
...                          ...                    ...       ...
12/29/2020                   391                    391       391
12/30/2019                   327                    327       327
12/30/2020                   326                    326       326
12/31/2019                   716                    716       716
12/31/2020                   292                    292       292

[700 rows x 12 columns]>

In [205]:
d6 = d5["end station id"].count()
d7 = pd.DataFrame(d6)
d7.reset_index()
d7

            end station id
startdate
01/01/2020             370
01/01/2021             206
01/02/2020             892
01/02/2021             504
01/03/2020             772
...                    ...
12/29/2020             391
12/30/2019             327
12/30/2020             326
12/31/2019             716
12/31/2020             292

[700 rows x 1 columns]

In [206]:
d7.to_csv("C:/Users/rvern/Documents/GitHub/tableau/station_daygrouped.csv",index=True, header=True)

In [5]:
file15 = "C:/Users/rvern/Documents/GitHub/tableau/stationdata_clean.csv"
df15 = pd.read_csv(file15)

df15["sum_row"] = 1
df15

C:\Users\rvern\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (3,7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,usertype,sum_row
0,1553,12/1/2019 0:07,12/1/2019 0:33,3681,Grand St,40.715178,-74.037683,3198,Heights Elevator,40.748716,-74.040443,Subscriber,1
1,416,12/1/2019 0:16,12/1/2019 0:23,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,Subscriber,1
2,294,12/1/2019 0:20,12/1/2019 0:25,3195,Sip Ave,40.730897,-74.063913,3678,Fairmount Ave,40.725726,-74.071959,Subscriber,1
3,97,12/1/2019 0:21,12/1/2019 0:22,3202,Newport PATH,40.727224,-74.033759,3638,Washington St,40.724294,-74.035483,Subscriber,1
4,286,12/1/2019 0:29,12/1/2019 0:34,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,Customer,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
879348,3720,10/31/2021 23:47,11/1/2021 0:49,JC057,Riverview Park,40.744319,-74.043991,JC053,Lincoln Park,40.724605,-74.078406,Customer,1
879349,300,10/31/2021 23:54,10/31/2021 23:59,HB105,City Hall - Washington St & 1 St,40.737360,-74.030970,HB302,6 St & Grand St,40.744398,-74.034501,Customer,1
879350,1740,10/31/2021 23:59,11/1/2021 0:28,JC102,Grand St,40.715178,-74.037683,JC102,Grand St,40.715178,-74.037683,Customer,1
879351,720,10/31/2021 23:59,11/1/2021 0:11,JC095,Bergen Ave,40.722104,-74.071455,JC066,Newport PATH,40.727224,-74.033759,Customer,1
879352,1800,10/31/2021 23:59,11/1/2021 0:29,JC102,Grand St,40.715178,-74.037683,JC102,Grand St,40.715178,-74.037683,Customer,1

In [10]:
d16 = df15.groupby(["start station id","start station latitude","start station longitude"])
d16.count().head

<bound method NDFrame.head of                                                                  tripduration  \
start station id start station latitude start station longitude
3184             40.714145              -74.033552                       7817
3185             40.717732              -74.043845                       9333
3186             40.719586              -74.043117                      23229
3187             40.721124              -74.038051                       8769
3191             40.718211              -74.083639                       1564
...                                                                       ...
JC107            40.709198              -74.080843                        268
JC108            40.706575              -74.086701                         17
                                        -74.086700                          3
                                        -74.086701                        641
JCSYS            40.709651              -74.068601                          2

                                                                 starttime  \
start station id start station latitude start station longitude
3184             40.714145              -74.033552                    7817
3185             40.717732              -74.043845                    9333
3186             40.719586              -74.043117                   23229
3187             40.721124              -74.038051                    8769
3191             40.718211              -74.083639                    1564
...                                                                    ...
JC107            40.709198              -74.080843                     268
JC108            40.706575              -74.086701                      17
                                        -74.086700                       3
                                        -74.086701                     641
JCSYS            40.709651              -74.068601                       2

                                                                 stoptime  \
start station id start station latitude start station longitude
3184             40.714145              -74.033552                   7817
3185             40.717732              -74.043845                   9333
3186             40.719586              -74.043117                  23229
3187             40.721124              -74.038051                   8769
3191             40.718211              -74.083639                   1564
...                                                                   ...
JC107            40.709198              -74.080843                    268
JC108            40.706575              -74.086701                     17
                                        -74.086700                      3
                                        -74.086701                    641
JCSYS            40.709651              -74.068601                      2

                                                                 start station name  \
start station id start station latitude start station longitude
3184             40.714145              -74.033552                             7817
3185             40.717732              -74.043845                             9333
3186             40.719586              -74.043117                            23229
3187             40.721124              -74.038051                             8769
3191             40.718211              -74.083639                             1564
...                                                                             ...
JC107            40.709198              -74.080843                              268
JC108            40.706575              -74.086701                               17
                                        -74.086700                                3
                                        -74.086701                              641
JCSYS            40.709651              -74.068601                                2

                                                                 end station id  \
start station id start station latitude start station longitude
3184             40.714145              -74.033552                         7817
3185             40.717732              -74.043845                         9333
3186             40.719586              -74.043117                        23229
3187             40.721124              -74.038051                         8769
3191             40.718211              -74.083639                         1564
...                                                                         ...
JC107            40.709198              -74.080843                          261
JC108            40.706575              -74.086701                           17
                                        -74.086700                            2
                                        -74.086701                          631
JCSYS            40.709651              -74.068601                            2

                                                                 end station name  \
start station id start station latitude start station longitude
3184             40.714145              -74.033552                           7817
3185             40.717732              -74.043845                           9333
3186             40.719586              -74.043117                          23229
3187             40.721124              -74.038051                           8769
3191             40.718211              -74.083639                           1564
...                                                                           ...
JC107            40.709198              -74.080843                            261
JC108            40.706575              -74.086701                             17
                                        -74.086700                              2
                                        -74.086701                            631
JCSYS            40.709651              -74.068601                              2

                                                                 end station latitude  \
start station id start station latitude start station longitude
3184             40.714145              -74.033552                               7817
3185             40.717732              -74.043845                               9333
3186             40.719586              -74.043117                              23229
3187             40.721124              -74.038051                               8769
3191             40.718211              -74.083639                               1564
...                                                                               ...
JC107            40.709198              -74.080843                                263
JC108            40.706575              -74.086701                                 17
                                        -74.086700                                  2
                                        -74.086701                                632
JCSYS            40.709651              -74.068601                                  2

                                                                 end station longitude  \
start station id start station latitude start station longitude
3184             40.714145              -74.033552                                7817
3185             40.717732              -74.043845                                9333
3186             40.719586              -74.043117                               23229
3187             40.721124              -74.038051                                8769
3191             40.718211              -74.083639                                1564
...                                                                                ...
JC107            40.709198              -74.080843                                 263
JC108            40.706575              -74.086701                                  17
                                        -74.086700                                   2
                                        -74.086701                                 632
JCSYS            40.709651              -74.068601                                   2

                                                                 usertype  \
start station id start station latitude start station longitude
3184             40.714145              -74.033552                   7817
3185             40.717732              -74.043845                   9333
3186             40.719586              -74.043117                  23229
3187             40.721124              -74.038051                   8769
3191             40.718211              -74.083639                   1564
...                                                                   ...
JC107            40.709198              -74.080843                    268
JC108            40.706575              -74.086701                     17
                                        -74.086700                      3
                                        -74.086701                    641
JCSYS            40.709651              -74.068601                      2

                                                                 sum_row
start station id start station latitude start station longitude
3184             40.714145              -74.033552                  7817
3185             40.717732              -74.043845                  9333
3186             40.719586              -74.043117                 23229
3187             40.721124              -74.038051                  8769
3191             40.718211              -74.083639                  1564
...                                                                  ...
JC107            40.709198              -74.080843                   268
JC108            40.706575              -74.086701                    17
                                        -74.086700                     3
                                        -74.086701                   641
JCSYS            40.709651              -74.068601                     2

[316 rows x 10 columns]>

In [11]:
d17 = d16["sum_row"].count()
d18 = pd.DataFrame(d17)
d18.reset_index()
d18

                                                                 sum_row
start station id start station latitude start station longitude
3184             40.714145              -74.033552                  7817
3185             40.717732              -74.043845                  9333
3186             40.719586              -74.043117                 23229
3187             40.721124              -74.038051                  8769
3191             40.718211              -74.083639                  1564
...                                                                  ...
JC107            40.709198              -74.080843                   268
JC108            40.706575              -74.086701                    17
                                        -74.086700                     3
                                        -74.086701                   641
JCSYS            40.709651              -74.068601                     2

[316 rows x 1 columns]

In [12]:
d18.to_csv("C:/Users/rvern/Documents/GitHub/tableau/station_start_grouped.csv",index=True, header=True)

In [13]:
d19 = df15.groupby(["end station id","end station latitude","end station longitude"])
d19.count().head
d20 = d19["sum_row"].count()
d21 = pd.DataFrame(d20)
d21.reset_index()
d21
d21.to_csv("C:/Users/rvern/Documents/GitHub/tableau/station_end_grouped.csv",index=True, header=True)